@model Clinica.Models.Paciente
<!DOCTYPE html>
<html lang="en">

<head>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Register</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>



<body class="bg-gradient-primary">
    <center>


        <div class="container">

            <div class="">
                <div class="">
                    <!-- Nested Row within Card Body -->


                    <div class="row">
                        <div class="col-lg-5 d-none  bg-light"> </div>
                        <div class="col-lg-10">
                            <div class="p-5">
                                <div class="text-center">
                                    <div class="card-body">

                                        <div class="card shadow mb-4">
                                            <div class="card-header py-3">

                                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                    <h1 class="h4 text-gray-900 mb-4">Editar Paciente!</h1>
                                                    <hr />
                                            </div>

                                            <form from method="POST" action="@Url.Action("Edit", "Pacientes")" class="user">
                                                <div class="form-group row">
                                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                                        <input type="text" class="form-control form-control-user" name="Nombre" value="@Model.Nombre"  placeholder="Danny">
                                                        @Html.ValidationMessageFor(Model => Model.Nombre, null, new { @class = "text-danger" })
                                                    </div>


                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control form-control-user" value="@Model.Apellido" name="Apellido" placeholder="Gutierrez">
                                                        @Html.ValidationMessageFor(Model => Model.Apellido, null, new { @class = "text-danger" })
                                                    </div>

                                                </div>
                                                <div class="form-group">
                                                    <input type="email" class="form-control form-control-user" value="@Model.Correo" name="Correo" placeholder="danny@virginio.cl">
                                                    @Html.ValidationMessageFor(Model => Model.Correo, null, new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control form-control-user" value="@Model.Direccion" name="Direccion" placeholder="poeta romero #1947 coronel">
                                                    @Html.ValidationMessageFor(Model => Model.Direccion, null, new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                                        <input type="text" class="form-control form-control-user" value="@Model.Rut" name="Rut" placeholder="15193028-k">
                                                        @Html.ValidationMessageFor(Model => Model.Rut, null, new { @class = "text-danger" })

                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input type="tel" class="form-control form-control-user" value="@Model.Telefono" name="Telefono" placeholder="99999911111">
                                                        @Html.ValidationMessageFor(Model => Model.Telefono, null, new { @class = "text-danger" })

                                                    </div>
                                                </div>

                                                <br />
                                                <center>
                                                    <button type="submit" class="btn btn-primary">Editar</button>
                                                </center>
                                                </a>

                                            </form>



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                </table>


            </div>
        </div>
        <!-- Bootstrap core JavaScript-->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="js/sb-admin-2.min.js"></script>
    </center>
</body>

</html>